@charset "utf-8";
/* CSS Document */
ul {
  background-color: thistle;
  width: 100%;
  font-size: 50px;  
  padding: 0; 
}

h {color:white;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  display: inline-block; 
  font-size: 50px;
  font-weight: 400;
}

p { font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; 
}

h2 { color: white; 
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; 
}

h4 { font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; 
}

.merel { background-color: lavender!important; 
}

.sally { background-color: lavenderblush!important;

}

.khalid { background-color: lightcyan!important; 
	
}

.dyrian { background-color: blanchedalmond !important; 

}

.form-control { margin: auto; 

}



.btn-primary { background-color: mediumorchid; 
	border-color: mediumpurple; 
}

.btn.btn-primary:hover {
  color: lavender;
  background-color: magenta; 
}

.btn-secondary {   background-color: lavenderblush;
  color: lavender;
}

