@charset "utf-8";
/* CSS Document */
/* resize home mobile banner */
@media screen and (max-width:767px) {
.homepage #page section:first-child {
    min-height: unset;
    height: 60vh;
}
}
table {   font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid #9705F7;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: mediumorchid;
}

h1 { color: floralwhite;
	position: relative; 
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; 
	font-size: 70px; 
	width: 100%; 
}

p { color: black; 
	position: relative; 
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; 
}


.container { 
}

.jumbotron { background-image: url("images/Rainbow.jpeg");  
	display: flex; 
	align-items: center; 
	width: 100%; 
  background-size: cover;  
  height: 500px;
}
h { font-size: 75px; 
	
	
}
.jumbotron h1 {
	font-size: 50px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}
.jumbotron h3 { 
	margin: 0 0 20px;
  color: papayawhip ;
	
}
h3 { color:mediumaquamarine; 
	
	
}
h4 { color: mediumorchid; 
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; 
	
}